:root {
  --Moderate_cyan: #3cb4ac;
  --Dark_cyan: #147b74;
  --Black: hsl(0, 0%, 0%);
  --Dark_gray: hsl(0, 0%, 48%);
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/**general elements*/
body {
  height: 100%;
  font-family: "Commissioner", sans-serif;
}

main {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 100vh;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

/**base classes*/
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn--primary {
  background-color: var(--Moderate_cyan);
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  padding: 1em 2em;
}

.btn--unavailable {
  background-color: var(--Dark_gray);
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  padding: 1em 2em;
}

.btn--primary:hover {
  background-color: var(--Dark_cyan);
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 61%,
    rgba(0, 0, 0, 0.75) 98%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 61%,
    rgba(0, 0, 0, 0.75) 98%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 61%,
    rgba(0, 0, 0, 0.75) 98%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}


.invisible {
  display: none !important;
}

/**complete-payment*/
.done-payment {
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.75);
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  gap: 30px;
}
.done-payment__thank-you {
  font-weight: 700;
  font-size: 2rem;
}

.done-payment__final-words {
  color: var(--Dark_gray);
}

.campaign-card,
.project-card,
.available-products {
  background-color: #fff;
  border-radius: 10px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  transform: translateY(-50px);
  padding: 50px 50px;
}

.campaign-card .content,
.project-card .content {
  display: flex;
  flex-direction: column;
}
/**navbar*/
.main-nav {
  background: url("../images/image-hero-desktop.webp") no-repeat top left;
  background-size: 100% 100%;
  height: 400px;
}

.main-nav .content {
  width: 75%;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  align-items: center;
  /*relativ to side menu*/
  position: relative;
}

.main-nav__list,
.side-menu__open-btn,
.side-menu__close-btn {
  margin-left: auto;
}

.main-nav__item {
  color: #fff;
  margin-left: 30px;
  /*relative to ::after element*/
  position: relative;
}

.main-nav__item::after {
  content: "";
  background-color: #fff;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 0px;
  transition: width 250ms 0s ease-out;
}

.main-nav__item:hover::after {
  width: 100%;
}

.side-menu__open-btn,
.side-menu__close-btn {
  display: none;
}

.side-menu__close-btn,
.side-menu {
  /*to appear on top of cover background which has index 1*/
  z-index: 2;
}

.side-menu__close-btn {
  position: relative;
}

.side-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
}

.side-menu__item {
  padding: 25px;
  text-align: start;
  font-weight: 500;
}

/**project brief*/

.project-card {
  --top_padding: 0px;
  padding-top: var(--top_padding);
}

.project-card .content {
  align-items: center;
}

.project-card__title,
.project-card__action-area,
.project-card__description {
  text-align: center;
}

.project-card__logo {
  transform: translateY(calc(-50% - var(--top_padding)));
}

.project-card__title {
  font-size: calc(1rem + 1vw);
  font-weight: 700;
}

.project-card__description {
  color: var(--Dark_gray);
}

.project-card__action-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
  margin-top: 50px;
  width: 100%;
}

.project-card__bookmark-area {
  display: flex;
  /*to fix the position after of movement of bookmark status*/
  transform: translateX(4em);
}

.bookmark-area__bookmark-btn svg {
  fill: currentColor;
  color: #2f2f2f;
}

.bookmark-area__bookmark-btn:hover svg {
  color: var(--Dark_gray);
}

.bookmarkIcon {
  height: 100%;
  position: relative;
  z-index: 2;
}

.bookmarkIcon path {
  fill: #b1b1b1;
}

.bookmark-area__bookmark-status {
  background-color: #f6f6f6;
  color: var(--Dark_gray);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding: 1em 2em 1em 5em;
  position: relative;
  top: 0px;
  left: -4em;
  z-index: 1;
}

.bookmark-area__bookmark-btn.bookmarked + .bookmark-area__bookmark-status,
.bookmark-area__bookmark-btn.bookmarked .bookmarkIcon {
  color: var(--Dark_cyan);
}

.bookmark-area__bookmark-btn.bookmarked .bookmarkIcon path {
  fill: #fff;
}

/**campaign-card*/

.campaign-card__counters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}

.campaign-card__counter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*relative to after element*/
  position: relative;
}

.campaign-card__counter:not(:last-child)::after {
  content: "";
  background-color: #ccc;
  height: 60px;
  width: 1px;
  position: absolute;
  right: 1.5vw;
  top: 50%;
  transform: translateY(-50%);
}

.counter__currentAmount {
  font-size: 2rem;
  font-weight: 700;
}

.counter__extra-info {
  color: var(--Dark_gray);
  text-align: center;
}

.campaign-card__progress-bar {
  background-color: #eee;
  border-radius: 50px;
  width: 100%;
  height: 12px;
  margin-top: 20px;
}

.progress-bar__done-progress {
  background-color: var(--Moderate_cyan);
  border-radius: 50px;
  height: 100%;
  width: 0;
}

/**about project and pledge*/

.available-products__heading{
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.available-products__description{
  color: var(--Dark_gray);
  margin-bottom: 50px;

}

.product-card > * {
  margin-bottom: 20px;
}

.product-card {
  border: 1px #ddd solid;
  border-radius: 5px;
  padding: 2em;
}

.product-card:not(:last-child) {
  margin-bottom: 25px;
}

.product-card__details,
.product-card__select-product-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-card__product-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.product-card__product-price {
  color: var(--Moderate_cyan);
}

.product-card__product-description {
  color: var(--Dark_gray);
  line-height: 1.9;
}

.product-card__quantity-left span {
  font-size: 2rem;
  font-weight: 700;
}

.product-card--unavailable {
  filter: opacity(0.5);
}

@media only screen and (max-width: 450px) {
  .product-card__select-product-area {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 600px) {
    .main-nav {
    background-image: url("../images/image-hero-mobile.webp");
    background-size: cover;
    background-size: 100% 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 662px) {
  .campaign-card,
  .project-card,
  .purchase-area,
  .available-products {
    max-width: 90%;
  }

  /**navbar*/


  .main-nav .content {
    padding-top: 30px;
    width: 90%;
  }

  .main-nav__list {
    display: none;
  }

  .side-menu__open-btn,
  .side-menu__close-btn {
    display: initial;
  }

  /**project brief*/
  .project-card__action-area {
    justify-content: center;
  }

  .project-card__bookmark-area {
    transform: translateX(0);
  }

  .bookmark-area__bookmark-status {
    display: none;
  }

  /**campaign-card*/
  .campaign-card__counter {
    margin: 20px;
    align-items: center;
  }

  .campaign-card__counter:not(:last-child)::after {
    top: initial;
    right: initial;
    transform: initial;
    height: 1px;
    width: 50px;
    bottom: -10px;
    transform: translateY(10px);
  }
  /**about project and pledge*/

  /**Modal*/
  .backersLeft {
    order: 4;
    margin-left: 0px;
  }
}
